*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Verdana, Geneva, sans-serif;
}

h2{
	font: bold 20px Verdana, Geneva, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{
	display: block;
}
body{
	text-align: center;
}
#agrupar{
	width: 960px;
	margin: 15px auto;
	text-align: left;
	background: black;
	text-shadow: turquoise 5px 5px 10px;
}
#cabecera{
	margin: 10px;
	background: thistle;
	border: 3px solid #A441D6;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: #E0FFFF 5px 5px 10px 10px inset;
}
#menu{
	background: violet;
	padding: 5px 15px;
	border: 3px solid #A441D6;
	margin: 10px;
	border-radius: 10px;
}
#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Verdana, Geneva, sans-serif;
}
#seccion{
	float: left;
	width: 600px;
	margin: 10px;
	border: 3px solid #A441D6;
	padding: 5px 10px;
	background: darkorchid;
	border-radius: 10px;
}
#columna{
	float: left;
	width: 200px;
	margin: 10px 25px;
	padding: 20px;
	background: pink;
	border: 3px solid #A441D6;
	border-radius: 10px;
}
#pie{
	clear: both;
	text-align: center;
	padding: 5px 15px;
	margin: 10px;
	border: 3px solid #A441D6;
	border-radius: 10px;
	background: #D3D3D3;

}
table
{
    border-collapse: collapse;
	background: #D8BFD8;
}
tr,th, td
{
    border: 2px solid #7592F3;    
}
img{
	border-radius: 3px;
}
#share-buttons {
    width: 400px;
    display:block;
    margin: 0 auto;
    -ms-transform: scale(.8,.8);
    -webkit-transform: scale(.8,.8);
    transform: scale(.8,.8);
}
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    display: inline;
}

#share-buttons a{
    width: 50px;
    height: 50px;
    display: inline-block;   
}

#share-buttons i{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: black;
}
#link{
	color: black;
	text-decoration: none;
	font: bold 14px Verdana, Geneva, sans-serif;
}